@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .m-percent {
        margin-left: 14%;
        margin-right: 14%;
    }

    .p-percent {
        padding-left: 14%;
        padding-right: 14%;
    }
}

html {
    background-color: '#FFFFFF';
}